.perfil {
  width: 50%;
  padding-top: 50px;
}
.perfil__avatar {
  display: block;
  margin: 0 auto;
  border-radius: 50px;
}
.perfil__nombre, .perfil__minibio h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
}
.perfil__titulo, .perfil__minibio h3 {
  display: block;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  font-size: 12px;
}
.perfil__boton {
  display: block;
  width: 100px;
  height: 40px;
  margin: 15px auto;
  padding-top: 15px;
  border-radius: 20px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}

.perfil__minibio {
  margin: o auto;
  padding-top: 20px;
}